.App {
  text-align: center;
  font-family: 'Poppins', Arial, sans-serif;
}

.btn-sm {
  padding: 0.2em 0.6em;
  font-size: 0.7em;
  /* background-color: $white; */
  border: 5px solid red;
}

.btn-img {
  width: 25px;
}

#f1-l1{ 
  position: absolute;
  top: 125px; 
  left: 90px; 
}

#f1-l2{ 
  position: absolute; 
  top: 220px; 
  left: 130px; 
}

#f1-l3{ 
  position:absolute; 
  top: 320px; 
  left: 40px; 
}

#f1-l4{ 
  position: absolute; 
  top: 530px; 
  left: 210px; 
}

#f1-r1{ 
  position: absolute; 
  top: 100px; 
  left: 1040px; 
}

#f1-r2{ 
  position: absolute; 
  top: 270px; 
  left: 1050px; 
}

#f4-l1{ 
  position: absolute; 
  top: 2710px; 
  left: 230px; 
}

#f4-l2{ 
  position: absolute; 
  top: 2890px; 
  left: 240px; 
}

#f4-l3{ 
  position: absolute; 
  top: 3210px; 
  left: 70px; 
}

#f4-r1{ 
  position: absolute; 
  top: 2660px; 
  right: 280px; 
}

#f4-r2{ 
  position: absolute; 
  top: 2980px; 
  right: 60px; 
}

#f4-r3{ 
  position: absolute; 
  top: 3110px; 
  right: 300px; 
}

#f4-r4{ 
  position: absolute; 
  top: 3320px; 
  right: 80px; 
}

#f5-l1{ 
  position: absolute; 
  top: 3680px; 
  left: 230px; 
}

#f5-l2{ 
  position: absolute; 
  top: 4070px; 
  left: 230px; 
}

#f5-r1{ 
  position: absolute; 
  top: 3620px; 
  right: 230px; 
}

#f5-r2{ 
  position: absolute; 
  top: 3940px; 
  right: 130px; 
}

#f5-r3{ 
  position: absolute; 
  top: 4080px; 
  right: 130px; 
}

#f6-l1{ 
  position: absolute; 
  top: 4450px; 
  left: 200px; 
}

#f6-l2{ 
  position: absolute; 
  top: 4600px; 
  left: 305px; 
}
