.App {
  text-align: center;
  font-family: 'Poppins', Arial, sans-serif;
}

.btn-sm {
  padding: 0.2em 0.6em;
  font-size: 0.7em;
  /* background-color: $white; */
  border: 5px solid red;
}

.btn-img {
  width: 25px;
}

#f1-l1{ 
  position: absolute;
  top: 125px; 
  left: 90px; 
}

#f1-l2{ 
  position: absolute; 
  top: 220px; 
  left: 130px; 
}

#f1-l3{ 
  position:absolute; 
  top: 320px; 
  left: 40px; 
}

#f1-l4{ 
  position: absolute; 
  top: 530px; 
  left: 210px; 
}

#f1-r1{ 
  position: absolute; 
  top: 100px; 
  left: 1040px; 
}

#f1-r2{ 
  position: absolute; 
  top: 270px; 
  left: 1050px; 
}

#f6-r1{ 
  position: absolute; 
  top: 270px; 
  left: 1050px; 
}

#f6-r2{ 
  position: absolute; 
  top: 270px; 
  left: 1050px; 
}

#f6-l1{ 
  position: absolute; 
  top: 4520px; 
  right: 200px; 
}